{% if form.without_works['#value'] == 1 %}
  <p>{{ form.message }}</p>
{% else %}
  {{ form.ckc_year }}
  {{ form.ckc_category }}

  <div style="display: flex; flex-direction: row; flex-wrap: nowrap;">

    <div style="flex-grow: 1; flex-basis: 0;">
      <div class="row row-inline">
        <label class="form-item">1. místo:</label>{{ form.order_1_1 }}{{ form.order_1_1_exclude }}
      </div>

      <div class="row row-inline">
        <label class="form-item">2. místo:</label>{{ form.order_2_1 }}{{ form.order_2_2 }}
      </div>

      <div class="row row-inline">
        <label class="form-item">3. místo:</label>{{ form.order_3_1 }}{{ form.order_3_2 }}{{ form.order_3_3 }}
      </div>

      <div class="row row-inline">
        <label class="form-item">4. místo:</label>{{ form.order_4_1 }}{{ form.order_4_2 }}{{ form.order_4_3 }}{{ form.order_4_4 }}
      </div>

      <div class="row row-inline">
        <label class="form-item">5. místo:</label>{{ form.order_5_1 }}{{ form.order_5_2 }}{{ form.order_5_3 }}{{ form.order_5_4 }}{{ form.order_5_5 }}
      </div>

      <div class="row row-inline">
        <label class="form-item">6. místo:</label>{{ form.order_6_1 }}{{ form.order_6_2 }}{{ form.order_6_3 }}{{ form.order_6_4 }}{{ form.order_6_5 }}{{ form.order_6_6 }}
      </div>
    </div>

  </div>

  <div style="flex-grow: 1; flex-basis: 0; padding-right: 1em;">
    {% for work in form.works_list['#value'] %}
      <div class="work-item" data-work-code="{{ work.code }}">{{ work.code }}: {{ work.title }}</div>
    {% endfor %}
  </div>

{% endif %}
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
{{ form.actions }}
