{% if form.without_works['#value'] == 1 %}
  <p>{{ form.message }}</p>
{% else %}
  {{ form.rid }}
  {{ form.ckc_year }}
  {{ form.ckc_category }}
  {{ form.uid }}

  {% if form.status['#value'] == 0 %}
    <div class="messages messages--warning" style="margin-bottom: 16px;">Hodnocení není zahrnuto do hlasování! Pro zahrnutí musíte zaškrtnout "<em>zahrnout do hodnocení</em>".</div>
  {% endif %}

  <div class="cck-rate-form-inputs">

    <div class="inputs-wrapper">
      <div class="row row-inline">
        <label class="form-item">1. místo:</label>{{ form.order_1_1 }}{{ form.exclude_first_place }}
      </div>
      <div class="row row-inline">
        <label class="form-item">2. místo:</label>{{ form.order_2_1 }}{{ form.order_2_2 }}
      </div>
      <div class="row row-inline">
        <label class="form-item">3. místo:</label>{{ form.order_3_1 }}{{ form.order_3_2 }}{{ form.order_3_3 }}
      </div>
      <div class="row row-inline">
        <label class="form-item">4. místo:</label>{{ form.order_4_1 }}{{ form.order_4_2 }}{{ form.order_4_3 }}{{ form.order_4_4 }}
      </div>
      <div class="row row-inline">
        <label class="form-item">5. místo:</label>{{ form.order_5_1 }}{{ form.order_5_2 }}{{ form.order_5_3 }}{{ form.order_5_4 }}{{ form.order_5_5 }}
      </div>
      <div class="row row-inline">
        <label class="form-item">6. místo:</label>{{ form.order_6_1 }}{{ form.order_6_2 }}{{ form.order_6_3 }}{{ form.order_6_4 }}{{ form.order_6_5 }}{{ form.order_6_6 }}
      </div>
      <hr>
      <div class="row row-inline">
      Do políček vypište čísla prací, kterým přidělujete dané pořadí (včetně přednul).
      </div>
      <hr>
      <div class="row row-inline">
        {{ form.note }}
      </div>
      <div>
        {{ form.status }}
      </div>
      {{ form.form_build_id }}
      {{ form.form_token }}
      {{ form.form_id }}
      {{ form.actions }}
    </div>

    <div class="works-wrapper">
      <div class="work-row header">
        <div class="work-item-rank">Pořadí</div>
        <div class="work-item-mlok">M</div>
        <div class="work-item">Název práce</div>
      </div>
      {% for work in form.works_list['#value'] %}
        <div class="work-row">
          {{ form["work_#{work.code}_rank"] }}
          <div class="work-item-mlok">{{ form["work_#{work.code}_mlok"] }}</div>
          {{ form["work_#{work.code}"] }}
        </div>
      {% endfor %}
    </div>

  </div>

{% endif %}
