<div class="cys">
  <div  class="cys--year-select">
    <select title="Ročník {{ year_selected_string }}" onchange="window.location = '/ckc/administrace/' + this.options[this.selectedIndex].dataset.year + '/stav'">
      {% for year, year_settings in years %}
        <option
          value="{{ year_settings.id }}"
          data-year="{{ year_settings.name }}"
          class=""
          {{ year == year_selected ? ' selected' : '' }}>{{ year_settings.name }} ({{ year_settings.locked ? 'uzamčen' : 'aktivní' }})</option>
      {% endfor %}
    </select>
  </div>
  <div class="cys--lock" title="Ročník {{ year_selected_string }} je {{ years[year_selected].locked ? 'uzamčen' : 'aktivní' }}." data-cys-locked="{{ years[year_selected].locked ? 'true' : 'false' }}">
    <a></a>
  </div>
</div>
